In [1]:
import pandas as pd

# # reading the data

In [2]:
df=pd.read_csv('data.csv')

In [3]:
df.head()

,fever,bodypain,age,RUNNYNOSE,difficulty in breathing,infection probability
0,100,1,51,1,0,0
1,98,1,92,1,1,1
2,98,0,65,1,0,0
3,102,1,28,1,0,0
4,99,0,29,1,-1,1

In [4]:
df.tail()

,fever,bodypain,age,RUNNYNOSE,difficulty in breathing,infection probability
499,101,0,11,0,1,0
500,98,0,36,1,1,0
501,98,1,91,1,1,1
502,98,0,57,0,0,1
503,103,1,34,1,-1,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   fever                    504 non-null    int64
 1   bodypain                 504 non-null    int64
 2   age                      504 non-null    int64
 3   RUNNYNOSE                504 non-null    int64
 4   difficulty in breathing  504 non-null    int64
 5   infection probability    504 non-null    int64
dtypes: int64(6)
memory usage: 23.8 KB

In [6]:
df['difficulty in breathing'].value_counts()

 1    175
 0    166
-1    163
Name: difficulty in breathing, dtype: int64

In [7]:
df.describe()

,fever,bodypain,age,RUNNYNOSE,difficulty in breathing,infection probability
count,504.000000,504.000000,504.000000,504.000000,504.00000,504.000000
mean,100.503968,0.490079,49.682540,0.505952,0.02381,0.496032
std,1.691983,0.500398,26.552293,0.500461,0.81939,0.500481
min,98.000000,0.000000,2.000000,0.000000,-1.00000,0.000000
25%,99.000000,0.000000,28.000000,0.000000,-1.00000,0.000000
50%,101.000000,0.000000,50.500000,1.000000,0.00000,0.000000
75%,102.000000,1.000000,72.250000,1.000000,1.00000,1.000000
max,103.000000,1.000000,95.000000,1.000000,1.00000,1.000000

#train and test split

In [8]:
import numpy as np

In [9]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size = int(len(data)*ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [10]:
train,test=data_split(df,0.2)

In [11]:
train

,fever,bodypain,age,RUNNYNOSE,difficulty in breathing,infection probability
86,100,0,49,0,-1,1
75,98,0,45,0,0,0
442,99,1,35,0,-1,0
15,98,1,3,1,-1,0
325,102,0,2,1,-1,1
...,...,...,...,...,...,...
106,100,0,13,0,1,1
270,103,1,33,0,0,0
348,102,0,33,0,-1,0
435,98,1,57,0,0,1
102,103,1,47,0,-1,1

In [12]:
test

,fever,bodypain,age,RUNNYNOSE,difficulty in breathing,infection probability
173,102,0,15,1,0,1
274,102,0,40,0,0,1
489,98,0,84,1,1,0
72,100,0,70,1,-1,1
305,98,0,71,0,-1,0
...,...,...,...,...,...,...
132,103,0,23,1,0,0
331,103,0,26,0,1,1
411,100,1,80,1,1,0
502,98,0,57,0,0,1
349,98,1,35,0,-1,0

In [13]:
X_train=train[['fever','bodypain','age','RUNNYNOSE','difficulty in breathing']].to_numpy()
X_test=test[['fever','bodypain','age','RUNNYNOSE','difficulty in breathing']].to_numpy()

In [14]:
Y_train=train[['infection probability']].to_numpy().reshape(404, )
Y_test=test[['infection probability']].to_numpy().reshape(100, )

In [15]:
X_train

array([[100,   0,  49,   0,  -1],
       [ 98,   0,  45,   0,   0],
       [ 99,   1,  35,   0,  -1],
       ...,
       [102,   0,  33,   0,  -1],
       [ 98,   1,  57,   0,   0],
       [103,   1,  47,   0,  -1]], dtype=int64)

In [16]:
Y_train

array([1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 1, 1], dtype=int64)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
clf=LogisticRegression()
clf.fit(X_train,Y_train)

LogisticRegression()

In [19]:
InputFeatures=[100,1,31,-1,1]
InfProb = clf.predict_proba([InputFeatures])[0][1]

In [20]:
InfProb

0.5464914335321339